.btn-button {
  position: absolute;
  width: 101px;
  height: 40px;
  background: #1890ff;
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
}

.btn-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Grey / grey-1 */
    
    color: #FFFFFF;
    margin: 8px 10px 8px 10px;
}
